<!--
  ____                 _                     _           _____                   _
 |  _ \    ___   ___  (_)   __ _   _ __     (_)  ___    |  ___|  _   _   _ __   | |
 | | | |  / _ \ / __| | |  / _` | | '_ \    | | / __|   | |_    | | | | | '_ \  | |
 | |_| | |  __/ \__ \ | | | (_| | | | | |   | | \__ \   |  _|   | |_| | | | | | |_|
 |____/   \___| |___/ |_|  \__, | |_| |_|   |_| |___/   |_|      \__,_| |_| |_| (_)
                           |___/

 -->

<% include partials/header %>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myCollapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#featured"></a>
      </div><!-- navbar-header -->
      <div class="collapse navbar-collapse" id="myCollapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#featured">Homebase</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#recommendations">Recommendations</a></li>
          <li><a href="#experiments">Experiments</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div><!-- collapse -->
    </div><!-- container -->
 </nav>

<header id="featured" class="jumbotron">
    <div class="container">
            <h1 class="myFont">Like_The_Design</h1>
            <h2 class="skillSet">Web Design and Development</h2>
    </div>
</header>

<div class="container spacer">
  <div class="row">
    <h1 id="about" class="text-center myTitles">About</h1>
    <div class="col-md-8 col-md-offset-2">
    <p class="bodyBlock">Hello and thanks for stopping by. My name is Rye, just like the bread, which is ironic since I'm gluten intolerant. Like_The_Design is my web design and development site, essentially a place to experiment, play, and something completely different than my other site at Rye Crowen Design, aka <a href="https://www.ryecrowendesign.com">ryecrowendesign.com</a>, which focuses on my Surface, CMF, and Industrial design business.</p>
    <p class="bodyBlock">Like_The_Design will be updated as I further learn and try new things, so keep checking back to see what's different. This site was created with Node.js, express, mongoDB, cloud9, a lot of modules such as Passport for authentication, middleware for protecting routes, and sterialization to prevent scripts in posts. You can see the code on <a href="https://github.com/IDdesigner/likethedesign">GitHub</a></p>
    </div>
  </div>
</div>

<div class="container spacer">
  <div class="row">
    <h1 id="skills" class="text-center myTitles">Skills</h1>
    <div class="col-md-8 col-md-offset-2">
    <p class="bodyBlock">Let’s get down to business. I’ve worked as a designer since 2000 in a lot of different areas of design. You can check out my work on Behance by clicking <a href="https://www.behance.net/rcrowen">here</a>. Below is a range of skills I've acquired over the years, and while this site is mainly about my web design and dev skills, I'm including my 2D and 3D skill set as well in the fancy and fun infographics.</p>
    </div>
  </div>
</div>

<div class="container spacer">
  <div class="row">
    <div class="col-md-4 col-sm-6 shaka">
      <img src="../images/Skill_2D.png" class="img-responsive center-block imgPad" alt="2D skills including Adobe Creative Suite">
      <h2 class="skillTitle">Graphic Design</h2>
      <p style="text-align: center" class="bodyBlock">Adobe CC, Sketch 3, drawing, surface design</p>
    </div>
    <div class="col-md-4 col-sm-6 shaka">
      <img src="../images/Skill_3D.png" class="img-responsive center-block imgPad" alt="2D skills including Adobe Creative Suite">
      <h2 class="skillTitle">Industrial Design</h2>
      <p style="text-align: center" class="bodyBlock">Solidworks, Rhino, SketchUp, Revit, 3DS Max...</p>
    </div>
    <div class="col-md-4 col-sm-6 shaka">
      <img src="../images/Skill_PM.png" class="img-responsive center-block imgPad" alt="2D skills including Adobe Creative Suite">
      <h2 class="skillTitle">Project Management</h2>
      <p style="text-align: center" class="bodyBlock">I'm no stranger to an excel spreadsheet.</p>
    </div>
    <div class="col-md-4 col-sm-6 shaka">
      <img src="../images/Skill_UX.png" class="img-responsive center-block imgPad" alt="2D skills including Adobe Creative Suite">
      <h2 class="skillTitle">Experience Design</h2>
      <p style="text-align: center" class="bodyBlock">Wireframes, user personas, research, and storyboarding.</p>
    </div>
    <div class="col-md-4 col-sm-6 shaka">
      <img src="../images/Skill_WEB.png" class="img-responsive center-block imgPad" alt="2D skills including Adobe Creative Suite">
      <h2 class="skillTitle">Web Design and Dev</h2>
      <p style="text-align: center" class="bodyBlock">HTML, CSS, Javascript, Node.JS & MEAN stack</p>
    </div>
    <div class="col-md-4 col-sm-6 shaka">
      <img src="../images/Skill_Code.png" class="img-responsive center-block imgPad" alt="2D skills including Adobe Creative Suite">
      <h2 class="skillTitle">Programming</h2>
      <p style="text-align: center" class="bodyBlock">Javascript, iOS/Swift, Python, and a little C++</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h1 id="recommendations" class="text-center myTitles">Recommendations</h1>
    <p class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="kevin">
      <div class="quote">
        <span class="intro">"Design of all types were well within Rye's grasp,</span>
        <span class="more">and he has an unending appetite for developing his diverse and deep skill set. It was a pleasure to get to work with someone who is as passionate about design and problem solving as he. Rye worked really well with the minutiae of everyday engineering and design needs as well as blowing barriers away with innovative concepts and solutions. His programming and UX designs were always beautiful and executed perfectly. I would be happy to have one of him in every team I worked with."</span>
        <div class="customer">- Kevin D. at CDI</div>
      </div>
    </p>
    
    <p class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="sean">
      <div class="quote">
        <span class="intro">"Rye knows the design process</span>
        <span class="more"> and how to build ideas from concept to the finished product. He is hardworking, efficient and talented. His CAD work is simply amazing. I very highly recommend him."</span>
        <div class="customer">- Sean M. at TRX</div>
      </div>
    </p>
    
    <p class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="brook">
      <div class="quote">
        <span class="intro">"Rye is a phenomenal designer and all around great guy</span>
        <span class="more"> to have on your team. I've truly enjoyed working with him at CDI. Wicked fast with a ball point pen, and a master of the marker sketch, he can visualize exactly what you're thinking, before the words leave your mouth. Add to the mix, a formidable graphics talent, strong UI and programming skillset, a cheery, can-do demeanor, and a worldly knowledge of all things coffee; Rye is both a pleasure to work with, and an exceptional asset to any endeavor."</span>
        <div class="customer">- Brook P. at CDI</div>
      </div>
    </p>

    <p class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="eric">
      <div class="quote">
        <span class="intro">"Rye is always great to work</span>
        <span class="more"> with an continues to look for innovative solutions to any project we have worked on together. His expertise and attention to detail is an invaluable resource."</span>
        <div class="customer">- Eric C. at Specialized</div>
      </div>
    </p>
  </div>
</div>

<div class="container spacer">
  <div class="row">
    <h1 id="experiments" class="text-center myTitles">Experiments</h1>
    <div class="col-md-8 col-md-offset-2">
      <p class="bodyBlock">This is where I'll start to add links to some of the experiments I'm doing and things I'm learning. Maybe it's a new app in Angular JS, a Javascipt idea, or the Apple Watch project I'm working on. Maybe a new piece of furniture I'm designing in Solidworks/Rhino, a SketchUp cabin in Tahoe, or just some photos of something that catches my eye. These will be works in progress and not necessarily slick, final projects. You can view my Behance portfolio for finished projects <a href="https://www.behance.net/rcrowen">here</a>.</p>
      <p class="bodyBlock">• Angular JS coffee beans app - add your favorites - <a href="http://ryecrowendesign.com/experiments/coffeeApp.html">Click Here</a></p>
      <p class="bodyBlock">• Swingin' at the Savoy iPhone app - <a href="https://itunes.apple.com/us/app/swingin-at-the-savoy/id968528160?mt=8&uo=6&at=&ct=" target="itunes_store">Click Here</a></p>
      <p class="bodyBlock">• Interactive javascript - <a href="http://codepen.io/rcrowen/pen/xVyowG">Click Here</a></p>
      <p class="bodyBlock">• Paper.js example - <a href="http://codepen.io/rcrowen/pen/dMQBMG">Click Here</a></p>
      <p class="bodyBlock">• React JS app from taking Andrew Mead's Udemy class - <a href="http://quiet-bastion-27316.herokuapp.com/">Click Here</a></p>
      <p class="bodyBlock">• Node.js/Express/MongDB app from taking Colt Steele's Udemy class - <a href="https://sleepy-stream-94306.herokuapp.com/campgrounds">Click Here</a></p>
    </div>
  </div>
</div>


<% include partials/footer %>